
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
/* header starts here */
.header{
    background-image: linear-gradient(rgba(3, 4, 3, 0.286),rgba(20, 139, 172, 0.64)),url(images/donation4.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-texts{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding-top: 15%; 
}
.header-texts h1{
    font-size: 40px;
    font-weight: 900;
}
.header-texts p{
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 5%;
    padding-top: 1%;
}
.donate-btn{
    text-decoration: none;
    background: linear-gradient(rgba(228, 218, 218, 0.859),rgb(11, 104, 13));
    padding: 10px 40px;
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    border-radius: 15px;
}
.donate-btn:hover{
    background: transparent;
    border-bottom: 2px solid black;
    color: #ffe602d8;
}
/* header ends here */

/* donation start here */
.donation{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10%; 
}
.donation-text,
.donation-tk{
    display: block;
    padding: 2%;
}
.donation-text h1{
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 2%;
}
.donation-text P{
    font-size: 15px;
    font-weight: 200;
    color: #8a4b4bcb;
}
.amounts-of-donation div{
    display: inline-block;
    width: 18%;
    background-color: #7b77774e;
    padding: 30px 50px;
    margin: 5Px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}
.active-amount{
    border: 2px solid green;
}
.active-amount p{
    color: green;
    font-weight: 600;
}
.amounts-of-donation{
    padding-bottom: 5%;
}
#amout-donation{
    border: none;
    outline: none;
    padding-top: 2%;
    font-size: 1rem;
    padding-bottom: 2%;
    text-align: center;
}
.btn-two:hover{
    color: #000000;
    border: 2px solid #000000;
}

/* donation ends here */

/* donate-plane starts here */
.donate-plan{
    width: 80%;
    padding: 10% 5%;
    margin: 0 auto;
    display: block;
}
.donate-plan-texts{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.donate-plan-texts h1{
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 2%;
}
.donate-plan-texts p{
    font-size: 15px;
    font-weight: 200;
    color: #8a4b4bcb;
}
/* donate-plane starts here */
.cards{
    width: 30%;
    padding: 2%;
    border-radius: 10px;
}
.card-body h1{
    font-size: 25px;
    padding-top: 10%;
    padding-bottom: 2%;
}

.donate-plan-qualitys{
    display: flex;
   justify-content: space-around;
   padding-top: 5%;
}
.food-for-family{
    background-color:powderblue;
}
.food-for-family p{
    font-size: 15px;
    font-weight: 200;
    color: #1c1515fe;
    text-align: justify;
}
.shelter-for-family{
    background-color:teal;
}
.shelter-for-family p{ 
    font-size: 15px;
    font-weight: 200;
    color: #6a2222fe;
    text-align: justify;
}
.education-for-child{
    background-color: slategrey;
}
.education-for-child p{
    font-size: 15px;
    font-weight: 200;
    color: #6a2222fe;
    text-align: justify;
}
/* donate-plane ends here */


/* latest news starts here */
.latest-news{
    width: 80%;
    margin: 0 auto;
    
}
.news-heading{
    width: 40%;
    margin: 0 auto;
}
.news-heading h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
.news-container{
    display: flex;
    padding-top: 5%;
    margin: 0 auto;

}
.news-links{
    padding: 1%;
}
.news-links img{
    width: 100%;
    border-radius: 5px;  
}
.posted-person{
    font-size: 14px;
    color: #967676;
}
.posted-person-name{
    text-transform: uppercase;
    color: green;
}
.post-date{
   font-weight: 600;
}
.news-text{
    position: relative;
    bottom: 20%;
    left: 2%;
}
.news-card{
    padding-left: 5%;
    padding-right: 5%;
}
.news-card-body{
    padding: 10% 5%;
    text-align: justify;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px rgb(142, 139, 139);
}
.readmore-btn{
    text-decoration: none;
    background: linear-gradient(rgb(50, 76, 179),rgb(12, 5, 16));
    padding: 10px 40px;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 500;
    position: relative;
    top: 20px;
    text-transform: uppercase;  
}
.readmore-btn:hover{
    background: transparent;
    border: 2px solid black;
    color: #000000;
}
.allnews-link{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.all-links-btn{
    text-decoration: none;
    background: linear-gradient(black,rgb(91, 91, 50));
    padding: 10px 100px;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 500;
    position: relative;
    top: 20px;
    text-transform: capitalize;
}
.all-links-btn:hover{
    background: transparent;
    border: 2px solid black;
    color: #000000;
}

/* latest news ends here */



/* myupdates starts here */
.my-updates{
    width: 60%;
    margin: 0 auto;
    
}
.updated-texts{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.updated-texts h1{
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 3%;
}
.updated-texts p{
    font-size: 16px;
    color: #0d9484d4;
    padding-bottom: 8%;
}
.subscribe{
    padding: 50px;
    background-color: rgba(168, 143, 60, 0.533);
}
.email-subscribers{
    width: 30%;
    margin: 0 auto;
    display: flex;
    
}
.send-mail{
    padding: 10px;
    outline: none;
    border: none; 
}
#get-email{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.sub-btn{
    background-color: red;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    font-weight: 400;
}
/* myupdates ends here */